* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(49, 49, 49));
}
p{
    font-size: 19px;
    color:rgb(255, 255, 255);
    line-height: 30px;
}
.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px 0;
}
.hero-text{
    width: 80%;
    margin-right: 20px;
    padding: 20px;
}
.top-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.hero-img{
    display: flex;
    justify-content: center;
    border-right: 1px solid #a5a5a5;
}
.hero-img img {
    width: 480px;
    height: auto;
}
.hero-contact-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 20px;
}
.hero-contact-details a {
    font-size: 50px;
}
.hero-contact-details-ig p{
    padding-bottom: 10px;
    border-bottom: 1px solid #a5a5a5;
}
.hero-contact-details i {
    color: #701b9b;
}
.hero-contact-details p{
    margin-bottom: 30px;
    font-size: 24px;
} 
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.hero-content{
    display: flex;
    margin: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.about-me-section h1 {
    text-align: center;
    padding: 20px 0;
    border-top: solid 1px #630a90c0;
    border-bottom: solid 1px #630a90c0;
    width: 100%;

}
.about-me-section p {
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
}
.about-me-section{
    min-width: 100%;
    height: 400px;
    margin: 30px auto;
}
.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.project-desc{
    width: 80%;
}
.project-section h1 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
    width: 100%;
    border-top: solid 1px #630a90c0;
    border-bottom: solid 1px #630a90c0;
}
.project-section h2 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 28px;
    margin: 5px;
}
.row{
    display: flex;
    margin: 70px 40px;
    min-height: 300px;
}
.row-right,
.row-left{
    display: flex;
    width: 70%;
    align-items: center;
}
.pj2-row-left,
.pj2-row-right{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.row-left p,
.row-right p,
.project-section p{
    padding: 10px;
    text-align: center;
}
.row-right img,
.row-middle img,
.row-left img{
    width: 340px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
.pj2-row-left img,
.pj2-row-right img{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
}
.pj3-row-left img,
.pj3-row-middle img,
.pj3-row-right img{
    width: 340px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
.text-bg{
    display: flex;
    height: 380px;
    margin: 12px;
    border-radius: 4px;
}
.text-pj-desc{
    display: flex;
    margin: 12px;
    width: 600px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.text-bg-abt{
    display: flex;
    height: 280px;
    width: 780px;
    background-color:rgb(37, 37, 37);
    margin: 12px auto;
    border-radius: 4px;
    justify-content: center;
}
@media only screen and (max-width: 1020px) {
    .row-right img,
    .row-middle img,
    .row-left img{
        width: 230px;
        height: auto;
        margin: 0 auto;
        padding: 0 10px;
    }
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 230px;
        height: auto;
        margin: 0 auto;
        padding: 0 10px;
    }      
}
@media only screen and (max-width: 900px) {
    .top-hero{
        flex-direction: column;
    }
    .hero-img{
        border-right: none;
        border-bottom: solid 1px#a5a5a5;
    }
    .hero-contact-details{
        margin-top: 14px;
    }
    .hero-contact-details a{
        font-size: 38px;
    }
    .hero-contact-details p{
        font-size: 20px
    }
}
@media only screen and (max-width: 800px) {
    .hero-section{
        flex-direction: column;
    }
    .hero-content{
        flex-direction: column;
    }
    .row-right img,
    .row-middle img,
    .row-left img{
        width: 235px;
    }
    .pj2-row-left img,
    .pj2-row-right img{
        width: 295px;
    }
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 235px;
    }
    .hero-text,
    .hero-img {
        padding-right: 0;
    }
    .about-me-section{
        height: 580px;
        margin: 0 auto 40px auto;
    }
    .text-bg-abt{
        height: 300px;
        width: auto;
        margin: 12px;
    }
    .text-pj-desc{
        width: auto;
    }
}


@media only screen and (max-width: 700px) {
    .row-right img,
    .row-middle img,
    .row-left img,
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 195px;
}
@media only screen and (max-width: 590px) {
    .hero-img img {
        width: 320px;
    }
    .row{
        flex-direction: column;
    }
    .row-left,.row-right,.row-middle{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-direction: column;
    }
    .row-right img,
    .row-middle img,
    .row-left img{
        width: 240px;
    }
    .pj2-row-left img,
    .pj2-row-right img{
        width: 250px;
        padding-bottom: 20px;
    }
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 250px;
        padding-bottom: 20px;
    }
}
@media only screen and (max-width: 542px){
    .text-bg-abt{
        height: 400px !important;
    }
}
@media only screen and (max-width: 412px){
    .text-bg-abt{
        height: 480px !important ;
    }
}
}