* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(49, 49, 49));
}
p{
    font-size: 19px;
    color:rgb(223, 223, 223);
}
.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 30px 0;
}
.hero-text{
    width: 65%;
    margin-right: 50px;
    padding: 20px;
}
.hero-img{
    width: 50%;
    margin-left: 50px;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.hero-content{
    display: flex;
    margin: 15px;
    align-items: center;
    text-align: center;
}
.about-me-section h1 {
    text-align: center;
    padding: 20px 0;
}
.about-me-section p {
    width: 70%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
.about-me-section{
    min-width: 100%;
    height: 400px;
    background-color: rgb(77, 75, 75);
    margin: 30px auto;
}
.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.project-section h1 {
    text-align: center;
    padding-bottom: 40px;
}
.project-section h2 {
    text-align: center;
    padding-bottom: 40px;
}
.row{
    display: flex;
    width: 80%;
    margin: 70px 40px;
    min-height: 300px;
}
.row-right,
.row-left{
    display: flex;
    width: 50%;
}
.row-right p{
    padding: 10px;
    text-align: center;
    align-content: center;
}
.row-left p{
    padding: 10px;
    text-align: center;
    align-content: center;
}
.row-right img,
.row-left img{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.row-right img{
    margin: 0 auto;
}

@media only screen and (max-width: 730px) {
    .hero-section{
        flex-direction: column;
    }
    .hero-content{
        flex-direction: column;
    }
    
    .hero-text,
    .hero-img {
        padding-right: 0;
    }
    .row{
        flex-direction: column;
    }
    .row-left,.row-right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #reverse-row{
        flex-direction: column-reverse;
    }
}