* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(49, 49, 49));
}
p{
    font-size: 1.188rem;
    color:rgb(255, 255, 255);
    line-height: 30px;
}
.content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.hero-text{
    width: 80%;
    margin-right: 20px;
    padding: 20px;
}
.top-hero{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 40px;
}
.hero-img{
    display: flex;
    justify-content: center;
    border-left: 1px solid #a5a5a5;
}
.hero-img img {
    width: 480px;
    height: 440px;
}
.hero-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.hero-details a {
    font-size: 3.125rem;
}
.hero-description-cta p{
    padding-bottom: 10px;
    font-size: 2.5rem;
}
.hero-details i {
    color: #701b9b;
}
.hero-details p{
    margin-bottom: 30px;
    font-size: 2.25rem;
    font-weight: bold;
    padding: 20px 0;
    line-height: 1.4em;
} 
.hero-details p span{
    color: #a457ca;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.815)),url('assets/PROJECT 1 IMG 4.webp'); 
    background-size: cover;
    background-position: center;
    
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.cta-btn{
    width: fit-content;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .5s;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
}
.cta-btn:hover{
    border: 1px solid #a457ca;
    background-color: #701b9b;;
}
.about-me-section h1 {
    text-align: center;
    padding: 20px 0;
    border-top: solid 1px #630a90c0;
    border-bottom: solid 1px #630a90c0;
    width: 100%;

}
.about-me-section p {
    height: 200px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}
.about-me-section{
    width: 100%;
    height: fit-content;
    margin: 0 auto 30px auto;
}
.about-details{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 30px auto;
}
.about-details img{
    width: 290px;
    height: auto;
    border: 1px solid #a457ca;
    padding: 10px;
    margin: 10px;
    background-color: linear-gradient(#701b9b, #fff);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px ;
}
.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.project-desc{
    width: 80%;
}
.project-section h1 {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 40px;
    width: 100%;
    border-top: solid 1px #630a90c0;
    border-bottom: solid 1px #630a90c0;
}
.project-section h2 {
    text-align: center;
    padding-bottom: 40px;
    font-size: 2rem;
    margin: 5px;
    color: #a457ca ;
}
.row{
    display: flex;
    margin: 30px 40px;
    min-height: 300px;
}
.row-right,
.row-left{
    display: flex;
    width: 70%;
    align-items: center;
}
.pj2-row-left,
.pj2-row-right{
    display: flex;
    width: 70%;
}

.row-left p,
.row-right p,
.project-section p{
    padding: 10px;
    text-align: center;
}
.row-right img,
.row-middle img,
.row-left img{
    width: 340px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
.pj2-row-left img,
.pj2-row-right img{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
}
.pj3-row-left img,
.pj3-row-middle img,
.pj3-row-right img{
    width: 340px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px;
}
.contact-me-section h1 {
    text-align: center;
    padding: 20px 0;
    border-top: solid 1px #630a90c0;
    border-bottom: solid 1px #630a90c0;
    width: 100%;
}
.contact-me-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0 auto 30px auto;
}
.contact-me-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 10px;
}
.contact-me-details a {
    font-size: 1.25rem;
    text-decoration: underline;
}
.contact-me-details p{
    padding-bottom: 10px;
}
.contact-me-details i {
    color: #701b9b;
    font-size: 2.5rem;
}
.contact-me-details p{
    margin-bottom: 30px;
    font-size:1.5rem;
    padding-top: 3px;
}
.ig-info{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 450px;
    width: 100%;
}
input[type="text"],
input[type="email"],
textarea{
    color: #000;
    width: 100%;
    background-color: #fff;
    border: 2.5px solid #8a8a8a;
    outline: none;
}
input[type="text"],
input[type="email"]{
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
    outline: none;
    border-color: #a457ca;
}
textarea{
    width: 100%;
    resize: none;
    padding: 8px;
    height: 200px;
    border-radius: 10px;
    font-size: 0.938;
}
button[type="submit"]{
    margin: 0 auto;
    padding: 12px 26px;
    color:#000;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #8a8a8a;
    cursor: pointer;
    transition: 0.5s;
}
button[type="submit"]:hover{
    background-color: #cecece;

}
.text-bg{
    display: flex;
    height: 380px;
    margin: 12px;
    border-radius: 4px;
}
.text-pj-desc{
    display: flex;
    margin: 12px;
    width: 600px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.text-bg-abt{
    display: flex;
    height: 280px;
    width: 780px;
    background-color:rgb(37, 37, 37);
    margin: 12px auto;
    border-radius: 4px;
    justify-content: center;
}
.footer{
    border-top: 1px solid #fff;
    width: 100%;
}
.footer{
    text-align: center;
}
@media only screen and (max-width: 1050px){
.about-me-section{
    height: fit-content;
}
.about-details{
    flex-direction: column;
    width: fit-content;
}
.top-hero{
    flex-direction: column;
}
.hero-img{
    border-left: none;
    border-bottom: solid 1px#a5a5a5;
}
.hero-details{
    margin-top: 14px;
}
.hero-details a{
    font-size: 2.375;
}
.hero-details p{
    font-size: 2.188rem;
}
}
@media only screen and (max-width: 1020px) {
    .row-right img,
    .row-middle img,
    .row-left img{
        width: 230px;
        height: auto;
        margin: 0 auto;
        padding: 0 10px;
    }
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 230px;
        height: auto;
        margin: 0 auto;
        padding: 0 10px;
    }      
}

@media only screen and (max-width: 800px) {
    .hero-section{
        flex-direction: column;
    }
    .hero-content{
        flex-direction: column;
    }
    .row-right img,
    .row-middle img,
    .row-left img{
        width: 235px;
    }
    .pj2-row-left img,
    .pj2-row-right img{
        width: 295px;
    }
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 235px;
    }
    .hero-text,
    .hero-img {
        padding-right: 0;
    }
    .about-me-section{
        height: 900px;
        margin: 0 auto 40px auto;
    }
    .text-bg-abt{
        height: 300px;
        width: auto;
        margin: 12px;
    }
    .text-pj-desc{
        width: auto;
    }
}


@media only screen and (max-width: 700px) {
    .row-right img,
    .row-middle img,
    .row-left img,
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 195px;
}
@media only screen and (max-width: 590px) {
    .hero-img img {
        width: 320px;
        height: 310px;
    }
    .row{
        flex-direction: column;
    }
    .row-left,.row-right,.row-middle{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-direction: column;
    }
    .row-right img,
    .row-middle img,
    .row-left img{
        width: 240px;
    }
    .pj2-row-left img,
    .pj2-row-right img{
        width: 250px;
        padding-bottom: 20px;
    }
    .pj3-row-left img,
    .pj3-row-middle img,
    .pj3-row-right img{
        width: 250px;
        padding-bottom: 20px;
    }
    .about-me-section{
        height: 1000px;
    }
    .hero-details p{
        width: 100%;
    }
}
@media only screen and (max-width: 542px){
    .text-bg-abt{
        height: 400px !important;
    }
}
@media only screen and (max-width: 412px){
    .text-bg-abt{
        height: 480px !important ;
    }
    .about-me-section{
        height: 1100px;
    }
}
}
@media only screen and (max-width: 320px){
    
}
